
* {
    box-sizing: border-box;
}

html {
	background-color: #f5f5f5;
}

body {
    font-family: 'Open Sans', sans-serif;
    hyphens: auto;
    margin: 0;
}

.background {
    padding-top: 15px;
    max-width: 768px;
    margin: 0 auto;
}
/********* HEADER **********/

header {
    text-align: center;
}

h1 {
    color: white;
    background: rgb(49, 60, 70);
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 1.5em;
}

.signup {
    font-size: 1.3em;
    margin-top: 2.2rem;
}

p {
    margin: 0 15px 0 15px;
    text-align: center;
}

/********* BLACK LINES **********/

.thick_line {
    border-bottom: 4px solid rgb(0, 0, 0);
    display: block;
    margin: 1.5em 0 0 0;
}

.thin_line {
    border-bottom: 2px solid rgb(0, 0, 0);
    display: block;
    margin: .2em 0 2em 0;
}

#bottom_line {
    margin-top: 3em;
}

/********* MAIN CONTACT - AS A LARGE GROUP **********/

.contact {
    margin-bottom: 0;
}

fieldset {
    border: 0;
}

fieldset label, p {
    color: rgb(121, 121, 121);
}

.wrapper {
    background-color: rgb(197, 197, 197);
    border-radius: 15px;
}

.description {
    margin-top: 0;
}

/********* INPUT, TEXTAREA SELECT **********/

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    display: block;
    border-radius: 5px;
    border: 2px solid transparent;
    background: rgb(226, 226, 226);
    width: 100%;
    margin: 5px 0;
    padding: 8px; 
    font-size: 18px;
    color: #333;
    transition: border 1s;
}

input:focus, select:focus, textarea:focus {
    border: 2px solid rgb(0, 117, 128);
    border-radius: 5px;
    outline: none;
}

input:hover, select:hover {
    background-color: rgb(224, 219, 197);
    border-radius: 5px;
    box-shadow: 0px 0px 12px rgba(192, 192, 192, 0.8);
}

textarea {
    height: 100px;
    transition: 0.1s;
}

textarea:focus {
    height: 200px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.7);
}

/********* BUTTON **********/

.btn:hover {
    opacity: .75;
}

button[type="submit"] {
    cursor: pointer;
}

/********* PLACEHOLDER **********/

::placeholder {
    color: rgb(149, 149, 149);
    text-align: right;
    font-size: 0.8em;
    padding-right: 10px;
}

.main_zip ::placeholder {
    text-align: left;
}

/********* ZIP CODE SIZING FOR MB **********/

.main_zip input[type=text] {
    width: 30%;
    transition: width .5s ease-in-out;
}

.main_zip input[type=text]:focus {
    width: 40%;
}

/********* CLICKABLE EFFECTS **********/

input[type="checkbox"],
input[type="radio"] {
    margin: 0 4px 8px 0;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline:2px solid rgb(0, 117, 128);
  }

select {
    color: rgb(121, 121, 121);
}
option:not(:checked) {
    color: rgb(75, 75, 75);
} 

label {
    display: block;
    margin: 25px 0 12px 0;
}
  
label.news {
    font-weight: 300;
    display: inline;
}

textarea {
    height: 100px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #181729;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #1b1b1b;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin:30px 0 10px 0;
}

/********* FOOTER **********/

#copyright {
    margin: 1em 0 8em 0;
    color: rgb(151, 151, 151);
    font-style: italic;
    font-size: 85%;
}

/********* MEDIA QUERIES **********/

@media (min-width: 768px) {
    h1 {
        padding: 0.7em;
    }
    .wrapper div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    label {
        flex-basis: 25%;
        margin-left: 3px;
    }
    input,
    select {
      flex-basis: 75%;
    }
    .main_zip {
        width: 100%;
    }
    input[id="zip"] {
        flex: 0 150px;
    }
}